.header {
    position: relative;
    background-color: #0b2405;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.header-center {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    left: 44%;
}
