.App {
    text-align: center;
}

.loading-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #FF69B4, #FF1493);
    animation: loadingAnimation 8s infinite ease-in-out;
}

@keyframes loadingAnimation {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.header {
    position: relative;
    background-color: #282c34;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}


.key-input {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    width: 150px;
}

.dropdown {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    width: 250px;
}

.upload-button {
    background-color: #FF1493;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.upload-button:hover {
    background-color: #FF69B4;
}

.build-button {
    background-color: #FF1493;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.build-button:hover {
    background-color: #FF69B4;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 5px;
}

.window {
    border: 2px solid #FF1493;
    padding: 10px;
    border-radius: 5px;
    background-color: snow;
    max-width: 920px;
}

h2 {
    margin-block: 0;
}

.txt-win {
    text-align: left;
    white-space:pre-wrap;
    padding: 20px;
    max-height: 740px;
    overflow-y: auto;
    overflow-x: auto;
    line-height: 1.8;
    font-size: large;
    cursor: pointer;
}

.line-number {
    color: #888;
    margin-right: 10px;
    user-select: none;
    cursor: default;
}

.svg-win {
    max-height: 740px;
    overflow: auto;
    padding: 20px;
    user-select: none;
    flex-shrink: 0;
}

