.App {
    text-align: center;
}

.loading-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #FF69B4, #228B22);
    animation: loadingAnimation 8s infinite ease-in-out;
}

.info{
    padding: 0px;  
    display: flex;
    align-items: center;
    color: #fff;
}

@keyframes loadingAnimation {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 5px;
}

.window {
    border: 2px solid #228B22;
    padding: 10px;
    border-radius: 5px;
    background-color: snow;
    max-width: 899px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h2 {
    margin-block: 0;
}

.line-number {
    color: #888;
    margin-right: 10px;
    user-select: none;
    cursor: default;
}

.flex-grow {
    flex-grow: 1;
}

.window.form{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: none; 
}

/* Общие стили для margin справа */
.margin-right-15 {
    margin-right: 15px;
}


.text-input {
    border: 1px solid #555;
    border-radius: 4px;
    font-size: 28px;
    width: 93%;
}